*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --card-bg-color: #fffff;
}

.card {
  background-color: var(--card-bg-color);
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  margin-bottom: 1.5rem;
}

.card > button {
  margin: 0;
}

.form-control {
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-bg-color: #283647;
  }
}

modal-element:not(:defined) {
  display: none !important;
}

modal-element [slot="header"] {
  margin: 0;
  font-weight: normal;
  font-size: 1.25rem;
}

modal-element [slot="body"] p {
  margin-top: 0;
  margin-bottom: 1rem;
}

modal-element [slot="body"] p:last-child {
  margin-bottom: 0;
}

/* Custom styling on modal-element */
modal-element.custom-styling {
  --me-width: 28rem;
  --me-border-width: 0;
  --me-border-radius: 0.375rem;
  --me-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  --me-header-bg-color: var(--background-alt);
  --me-body-bg-color: var(--background-body);
  --me-footer-bg-color: var(--background-alt);
}

modal-element.custom-styling::part(header) {
  border-bottom: 1px solid var(--border);
}

modal-element.custom-styling::part(footer) {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--border);
}

modal-element.custom-styling [slot="body"] input {
  width: 100%;
}

modal-element.custom-styling [slot="footer"] button {
  margin: 0;
}

/* Customize animations */
@media (prefers-reduced-motion: no-preference) {
  modal-element.custom-animations:not([no-animations])::part(base) {
    transition: transform 0.5s, opacity 0.5s, display 0.5s allow-discrete, overlay 0.5s allow-discrete;
  }

  /* IS-OPEN STATE */
  modal-element.custom-animations:not([no-animations])[open]::part(base) {
    transform: translateY(0);
    opacity: 1;
  }

  /* EXIT STATE */
  modal-element.custom-animations:not([no-animations])::part(base) {
    transform: translateY(-2rem);
    opacity: 0;
  }

  /* BEFORE-OPEN STATE */
  @starting-style {
    modal-element.custom-animations[open]:not([no-animations])::part(base) {
      transform: translateY(-2rem);
      opacity: 0;
    }
  }
}
