*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --card-bg-color: #fffff;
  scroll-behavior: smooth;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--focus);
  text-align: center;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.component-description p:last-child {
  margin-bottom: 0;
}

.card {
  background-color: var(--card-bg-color);
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  margin-bottom: 0.5rem;
}

.card > button {
  margin: 0;
}

.card > details {
  margin-bottom: 0;
}

.card details summary {
  font-weight: 500;
  pointer-events: none;
}

.card details summary::marker {
  content: '';
}

.form-control {
  margin-bottom: 1rem;
}

.back-top {
  display: flex;
  justify-content: flex-end;
  font-size: 0.875rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-bg-color: #283647;
  }
}

browser-window {
  --bw-background: var(--background-alt);
  text-align: center;
}

browser-window::part(base) {
  border-color: var(--border);
}

browser-window > button {
  margin-block: 2rem;
}

modal-element:not(:defined) {
  display: none !important;
}

modal-element [slot="header"] {
  margin: 0;
  font-weight: normal;
  font-size: 1.25rem;
}

modal-element p {
  margin-top: 0;
  margin-bottom: 1rem;
}

modal-element p:last-of-type {
  margin-bottom: 0;
}

/* Custom styling on modal-element */
modal-element.custom-styling {
  --me-width: 35rem;
  --me-border-width: 1px;
  --me-border-color: var(--border);
  --me-border-radius: 0.375rem;
  --me-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  --me-header-background-color: var(--background-alt);
  --me-body-background-color: var(--background-body);
  --me-footer-background-color: var(--background-alt);
}

modal-element.custom-styling::part(header) {
  border-bottom: 1px solid var(--border);
}

modal-element.custom-styling::part(footer) {
  border-top: 1px solid var(--border);
}

modal-element.custom-styling::part(close) {
  background-color: var(--button-base);
  border-radius: 0.25rem;
  color: var(--text-bright);
  transition: background-color 0.2s ease;
}

modal-element.custom-styling::part(close):hover {
  background-color: var(--button-hover);
}

modal-element.custom-styling [slot="footer"] button {
  margin: 0;
}

/* Customize animations */
@media (prefers-reduced-motion: no-preference) {
  modal-element.custom-transition:not([no-animations])::part(base) {
    transition: transform 0.35s, opacity 0.35s, display 0.35s allow-discrete, overlay 0.35s allow-discrete;
  }

  /* IS-OPEN STATE */
  modal-element.custom-transition:not([no-animations])[open]::part(base) {
    transform: translateY(0);
    opacity: 1;
  }

  /* EXIT STATE */
  modal-element.custom-transition:not([no-animations])::part(base) {
    transform: translateY(-2rem);
    opacity: 0;
  }

  /* BEFORE-OPEN STATE */
  @starting-style {
    modal-element.custom-transition[open]:not([no-animations])::part(base) {
      transform: translateY(-2rem);
      opacity: 0;
    }
  }
}
